{% extends 'base.html' %}

{%block 'title' %}View Books | Admin BMS {% endblock %}
{% block 'content' %}
<div class='container-fluid'>
    <div class="dashboard-header py-4">
        <h1>Books</h1>
        <a class="btn-add" href="{% url 'book-add' %}">+ Add Books</a>
    </div>

    <div class="controls">

        <input type="text" id="search" placeholder="Search books...">

        <button>Search</button>

        <select id="filter-status">
            <option value="all">All</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
        </select>

    </div>
    <div class='table-wrapper'>
    {%if book_list%}
    <table>
            <tr>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Price</th>
                <th>ISBN</th>
                <th>Active Status</th>
                <th>Language</th>
                <th>Operation</th>
            </tr>
            {% for book in book_list%}
            <tr>

                <td>{{book.book_name}}</td>
                
                {% comment %} <td>{{book.author.name}}</td> {% endcomment %}
            <td>
                {% for author in book.author.all %}
                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No Authors
                {% endfor %}
            </td>
                <td>{{book.price}}</td>
                <td>{{book.isbn}}</td>
                <td>{{book.isActive}}</td>
                <td>{{book.language}}</td>
                <td>
                    <a href="{% url 'update-books' book.id %}">Edit</a>
                    <a href="{% url 'delete-books' book.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
    </div>
</div>
{%endblock%}